{% include 'base.html.twig' %}
{% block body %}
    <title>Liste des sites</title>
    <h1 class="text-center" style="margin-top:2rem;">Liste des sites</h1>
    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom du site</th>
                <th scope="col">ACTION</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
            <div class="sites">
                <tr>
                    <td> {{ site.noSite }}</td>
                    <td> {{ site.nomSite }}</td>
                    <td>
                        <a href="{{ path('sites_modifier' , {'noSite' : site.noSite }) }}"> Modifier </a>
                    </td>
                    <td>
                        <a href="{{ path('sites_delete' , {'noSite' : site.noSite }) }}">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </div>
            </tbody>
        </table>
        <a class="btn btn-primary" style="margin-bottom:1rem;" href="{{ 'add' }}">Ajout lieu</a>
    </div>
    <div class="sites">
    {% include 'footer.html.twig' %}
{% endblock %}