{% include 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <h1>{{ logo }}</h1>
    </div>
    <div class="container-fluid">
        <input>{{ pseudo }}</input>
    </div>
    <div class="container-fluid">
        <input>{{ prenom }}</input>
    </div>
    <div class="container-fluid">
        <input>{{ nom }}</input>
    </div>
    <div class="container-fluid">
        <input>{{ telephone }}</input>
    </div>
    <div class="container-fluid">
        <input>{{ email }}</input>
    </div>
    <div class="container-fluid">
        <input>{{ mdp }}</input>
    </div>
    <div class="container-fluid">
        <input>{{ confirmation }}</input>
    </div>
    <div class="container-fluid">
        <input>{{ siteRattachement }}</input>
    </div>
    <div class="container-fluid">
        <input>{{ photo }}</input>
    </div>
{% endblock %}