{% include 'base.html.twig' %}
{% block body %}
    <title>Liste des sorties</title>
    <h1 class="text-center" style="margin-top:2rem;">Liste des sorties</h1>
    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Date fin de la sortie</th>
                <th scope="col">Nombres d'inscrits</th>
                <th scope="col">Durée de la sortie</th>
                <th scope="col">Descriptions et informations</th>
                <th scope="col">Etat de la sortie</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
            <div class="sorties">
                <tr>
                    <td> {{ sortie.noSortie }}</td>
                    <td> {{ sortie.nom }}</td>
                    <td> {{ sortie.datedebut|date("m/d/Y") }}</td>
                    <td> {{ sortie.datecloture|date("m/d/Y") }}</td>
                    <td> {{ sortie.nbinscriptionsmax }}</td>
                    <td> {{ sortie.duree }}</td>
                    <td> {{ sortie.descriptioninfos }}</td>
                    <td> {{ sortie.etatsortie }}</td>
                    <td>
                        <a class="text-center" href="{{ path('sorties_modifier', {'noSortie' : sortie.noSortie }) }}">
                            Modifier une sortie </a>
                        <a href="{{ path('sorties_delete' , {'noSortie' : sortie.noSortie }) }}">Supprimer</a>
                        <a href="{{ path('sorties_annuler' , {'noSortie' : sortie.noSortie }) }}">Annuler</a>
                    </td>
                </tr>
                {% endfor %}
            </div>
            </tbody>
        </table>
        <a class="btn btn-primary" style="margin-bottom:1rem;" href="{{ 'add' }}">Ajouter une sortie</a>
    </div>
    <div class="sorties">
    {% include 'footer.html.twig' %}
{% endblock %}