{% include 'base.html.twig' %}
{% block body %}

    <title>Liste des participants</title>
    <h1 class="text-left" style="margin-top:2rem;">Filter les sorties</h1>
    <h4 class="text-left" style="margin-top:2rem;">Site: </h4>
        <select name="sitesNoSite">
            {% for lieu in lieux %}
            <option>
                {{ lieu.nomLieu }}
            </option>
            {% endfor %}
        </select>
    <h4 class="text-left" style="margin-top:1rem;">Le nom de la sortie contient:</h4>
    <div style="text-align: right; margin-top: -1rem; margin-left: -10rem">
    {{ form_start(form)}}
    <div class="form-row">
        <div class="col">
            {{ form_row(form.nom) }}
        </div>
        <div class="col">
            <button class="btn-primary">Recherche</button>
        </div>
        {{ form_end(form) }}
    </div>
    </div>
    {% for sortie in sorties %}
    <h4 class="text-left" style="margin-top:1rem;">Entre:</h4>
    <input type="date" id="{{ sortie.datedebut|date("m/d/Y") }}"/>
    <h4 class="text-left" style="margin-top:1rem;">et:</h4>
    <input type="date" id="{{ sortie.datecloture|date("m/d/Y") }}"/>
    {% endfor %}
    <div>
        <input type="checkbox"
               checked>
        <label for="sortieOrganisateurHimself">Sorties dont je suis l'organiseur/trice</label>
    </div>
    <div>
        <input type="checkbox"
               checked>
        <label for="sortieOrganisateurHimself">Sorties auxquelles je suis inscrit/e</label>
    </div>
    <div>
        <input type="checkbox"
               checked>
        <label for="sortieOrganisateurHimself">Sorties auxquelles je ne suis pas inscrit/e</label>
    </div>
    <div>
        <input type="checkbox"
               checked>
        <label for="sortieOrganisateurHimself">Sorties passées</label>
    </div>
    <div class="container">
    <table id="participantTable" class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
        <div class="sortie">
            <tr>
                <td> {{ sortie.nom }}</td>
                <td> {{ sortie.datedebut|date("m/d/Y") }}</td>
                <td> {{ sortie.datecloture|date("m/d/Y") }}</td>
                <td> {{ sortie.nbinscriptionsmax }}</td>
                <td> {{ sortie.etatsortie }}</td>
                <td> {{ sortie.etatsortie }}</td>
                <td> {{ sortie.organisateur }}</td>
                <td>
                    <a class="text-center" href="{{ path('sorties_modifier', {'noSortie' : sortie.noSortie }) }}">
                        Modifier une sortie </a>
                    <a href="{{ path('sorties_delete' , {'noSortie' : sortie.noSortie }) }}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </div>
        </tbody>
    </table>
    <a class="btn btn-primary" style="margin-bottom:1rem;" href="{{ 'add' }}">Ajouter une sortie</a>
    {% include 'footer.html.twig' %}
{% endblock %}