{% include 'base.html.twig' %}



<div>

   <h1>Modification d'un Lieu : </h1>
    <table border="1px">
        <tr>
    <td>Numéro du lieu: {{ lieu.noLieu }}</td>
    <td> Nom du lieu :{{ lieu.nomLieu }}</td>
    <td> Rue du lieu : {{ lieu.rue }}</td>
    <td> Latitude du lieu :{{ lieu.latitude }}</td>
    <td> Longitude du lieu :{{ lieu.longitude }}</td>
    <td> Numéro de ville du lieu :{{ lieu.villesNoVille}}</td>
        </tr>
        <tr>
            <td>Test</td>
            <td>Test2</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>

        </tr>
    </table>
</div>