{% include 'base.html.twig' %}

<div>
    <h1>Modification d'un Lieu : </h1>
    <table border="1px">
        Numéro du lieu: {{ lieu.noLieu }}<br>
        Nom du lieu :{{ lieu.nomLieu }}<br>
        Rue du lieu : {{ lieu.rue }}<br>
        Latitude du lieu :{{ lieu.latitude }}<br>
        Longitude du lieu :{{ lieu.longitude }}<br>
        Numéro de ville du lieu :{{ lieu.villesNoVille}}<br><br><br>
    </table>

    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button type="submit">Send</button>

    {{ form_end(lieuForm) }}
    <td><a href="{{ path('lieuxlieux') }}"> Liste des lieux </a></td>
</div>